<div class="search_form navbar-form navbar-left">
  <%= form_tag("/search", method: "post") do %>
    <%= text_field_tag(:search_string, nil, placeholder: "title, content, tags") %>
    <%= submit_tag "search" %>
  <%end%>
</div>