<%= form_tag "/search", method: "post", class: "navbar-form navbar-left", role: "search" do %>
  <div class="form-group">
    <%= text_field_tag(:search_string, nil, placeholder: "title, content, tags", class: "form-control") %>
  </div>
  <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>
