  <div id="viz">
    <!-- <canvas id="analyser" width="1024" height="500"></canvas> -->
    <!-- <canvas id="wavedisplay" width="1024" height="500"></canvas> -->
  </div>
  <div id="controls">
  <input type="image" id="enable" class="record_for" src="http://img.informer.com/icons/png/32/196/196685.png">
    <input type="image" id="record" class="record_for" src="http://www.iconeasy.com/icon/png/System/ecqlipse%202/MICROPHONE.png" onclick="toggleRecording(this);">
    <a id="save" href="#"><input type="image" class="record_for" src="http://iconizer.net/files/Lingo/orig/Save.png"></a>
  </div>