  <div id="viz">
    <!-- <canvas id="analyser" width="1024" height="500"></canvas> -->
    <!-- <canvas id="wavedisplay" width="1024" height="500"></canvas> -->
  </div>
  <div id="controls">
    <img id="record" src="http://www.iconeasy.com/icon/png/System/ecqlipse%202/MICROPHONE.png" onclick="toggleRecording(this);">
    <a id="save" href="#"><img src="https://www.rsna.org/uploadedImages/RSNA/Content/Informatics/save_icon.jpg"></a>
  <button id="enable">Enable Recording</button>
  </div>