<% @clips.each do |clip| %> 

  <li><a href="/clips/<%= clip[:id] %>"><%= clip[:title] %>:</a> <%= clip[:description] %> by: <%= clip[:performer] %></li>
<% end %>


<audio id="test" src="" controls></audio>
<button id="stoptest">Stop Recording</button>