body:not(.navbar-header) {
/*    padding-left: 20px;
    padding-right: 20px;*/
}

li {
  padding-left: 20px;
}

.show {
  padding-left: 20px;
}

.new{
  padding-left: 20px;
}

.navbar{
  background-color: #EEE9E9;
}