<h1 class="index"><center><%= @playlist.title%> <center></h1>
  <% unless @playlist.clips == [] %>
  <div class="search_block">
    <% @playlist.clips.each do |c| %>
      <div class="search_result">
        <h3><%= link_to c.title, clip_path(c) %></h3>
        <%= c.display_tags %><br>
        <audio id="ott" controls src="<%=c.mp3.url%>"><br>
      </div>
    <% end %>
  </div>
  <% end %>